<h2>{{ value.title }}</h2>
<div id="h5p{{ value.id }}"></div>

<script type="text/javascript" src="/static/js/h5p_standalone/dist/main.bundle.js"></script>

<script>
var h5pData = {}
h5pData["h5p_id"] = "h5p{{ value.id }}"
h5pData["h5p_json"] = "{{ value.h5p_json }}"
var h5pIDElement = document.getElementById(h5pData["h5p_id"]);
var options = {
  h5pJsonPath: h5pData["h5p_json"],
  frameJs: "/static/js/h5p_standalone/dist/frame.bundle.js",
  frameCss: "/static/js/h5p_standalone/dist/styles/h5p.css",
};
new H5PStandalone.H5P(h5pIDElement, options);
 </script>